@media (max-width: 1190px) {
  * {
    -webkit-tap-highlight-color: transparent;
  }
  .header__inner {
    padding: 0;
  }
  .header__row {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #DDDDDD;
  }
  .menu {
    display: none;
  }
  .menu__list {
    gap: 0px;
  }
  .header__row-adaptive {
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .top__content {
    margin: 5px 0;
    max-width: 390px;
  }
  .top__title {
    font-size: 50px;
    line-height: 50px;
  }
  .top__img-large {
    display: none;
  }
  .top__img-medium {
    display: block;
  }
  .results, .products, .company {
    padding: 60px 0;
  }
  .results__item {
    gap: 0px;
    flex-direction: column;
    align-items: start;
  }
  .results__body {
    margin-top: 40px;
    align-items: start;
  }
  .results__img {
    width: 100%;
    max-width: 330px;
  }
  .results__title {
    font-size: 30px;
    line-height: 30px;
    max-width: 330px;
  }
  .products__list {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 60px; 
  }
  .company__item {
    width: auto;
    height: auto;
    padding: 15px;
  }
  .company__img {
    width: 100%;
  }
  .sketchbook {
    padding-top: 60px;
    overflow: hidden;
  }
  .sketchbook__img {
    display: none;
  }
  .sketchbook__img-mobile {
    display: block;
  }
  .sketchbook__content {
    margin-top: 0px;
    margin-bottom: 60px;
    max-width: 330px;
  }
  .sketchbook__title {
    font-size: 30px;
    line-height: 30px;
  }
  .sketchbook__subtitle {
    margin-top: 20px;
  }

  /* Убираем hover */
  .btn:hover {
    background-color: white;
    color: #7875FE;
  }
  .menu__link:hover {
    color: #4C5866;
  }
  .user-actions__link:hover svg path {
    stroke: #4C5866;
  }
  .search__input-close:hover svg circle {
    fill: #D1D1E5;
  }
  .search__input-close:hover svg path {
    stroke: #4C5866;
  }
  .products__detalied:hover {
    color: #7875FE;
  }
  .social__link:hover svg path {
    fill: white;
  }
}

@media (max-width: 767px) {
  body {
    font-size: 16px;
    line-height: 27px;
  }
  .container {
    padding: 0 33px;
  }
  .btn {
    padding: 18px 60px;
  }
  .header__row {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #DDDDDD;
  }
  .menu {
    display: none;
  }
  .menu__list {
    gap: 0px;
  }
  .search-box {
    gap: 6px;
  }
  .search-input {
    max-width: 200px;
    font-size: 18px;
  }
  .header__row-adaptive {
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .top__inner {
    padding-top: 20px;
  }
  .top__content {
    margin: 40px 0;
    max-width: 286px;
  }
  .top__title {
    font-size: 38px;
    line-height: 38px;
  }
  .top__subtitle {
    margin-top: 20px;
    line-height: 24px;
  }
  .top__link {
    margin-top: 20px;
  }
  .top__img-large, .top__img-medium {
    display: none;
  }
  .top__img-small {
    display: block;
  }
  .results {
    padding: 60px 0;
  }
  .results__item {
    gap: 0px;
    flex-direction: column;
    align-items: start;
  }
  .results__item-img {
    max-width: 150px;
  }
  .results__item-title ,.results__item-subtitle {
    line-height: 24px;
  }
  .results__body {
    margin-top: 40px;
    flex-direction: column;
    gap: 0px;
  }
  .results__title {
    font-size: 24px;
    line-height: 24px;
  }
  .results__text {
    margin-top: 14px;
  }
  .products__name {
    font-size: 24px;
    line-height: 28px;
  }
  .products__edition {
    margin-top: 4px;
  }
  .company__list {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px; 
  }
  .company__item {
    width: auto;
    height: auto;
    padding: 30px 15px;
  }
  .company__img {
    width: auto;
  }
  .sketchbook__inner {
    flex-direction: column;
    gap: 0px;
  }
  .sketchbook__content {
    margin-top: 10px;
    order: 2;
    max-width: 100%;
  }
  .sketchbook__title {
    font-size: 24px;
    line-height: 24px;
  }
  .sketchbook__subtitle {
    margin-top: 20px;
  }
  .sketchbook__img-mobile {
    order: 1;
  }
}

@media (max-width: 575px) {
  .container {
    padding: 0 15px;
  }
  .btn {
    padding: 14px 36px;
  }
  .header__row {
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #DDDDDD;
  }
  .header__content{
    display: none;
  }
  .menu__list {
    gap: 0px;
  }
  .header__row-adaptive {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 13px;
    padding-bottom: 13px;
  }
  .user-actions-adaptive {
    display: flex;
    align-items: center;
    gap: 17px;
  }
  .menu__burger-btn {
    display: block;
    z-index: 5;
  }
  .menu-adaptive {
    position: absolute; 
    top: 46px;
    left: -100%;
    right: 0;
    height: 100vh;
    width: 100%;
    background-color: #EBEBEB;
    transition: all 400ms;
    overflow-y: auto;
    z-index: 4;
  }
  .menu__list {
    display: flex;
    flex-direction: column;
    gap: 44px;
    padding-left: 15px;
    margin-top: 70px;
  }
  .menu-adaptive.active {
    left: 0;
  }
  .search-box {
    gap: 4px;
  }
  .search-input {
    max-width: 160px;
    font-size: 16px;
  }
  .top__inner {
    padding-top: 0px; 
  }
  .top__img-large, .top__img-medium, .top__img-small {
    display: none;
  }
  .top__content {
    margin: 50px 0;
    max-width: 100%;
  }
  .top__title {
    max-width: 221px;
    font-size: 30px;
    line-height: 30px;
  }
  .top__subtitle {
    margin-top: 15px;
    font-size: 14px;
    line-height: 21px;
  }
  .top__link {
    margin-top: 20px;
  }
  .results__list {
    flex-direction: column;
    gap: 0px;
  }
  .results__item {
    align-items: center;
    flex-direction: row;
    padding: 20px 0;
    gap: 30px;
    width: auto;
  }
  .results__item-img {
    max-width: 130px;
  }
  .results__body {
    margin-top: 60px;
  }
  .products__list {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 60px; 
  }
  .products__detalied {
    margin-top: 30px;
  }
  .company {
    padding: 60px 0;
  }
  .company__list {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-row-gap: 0px;
    overflow-y: scroll;
  }
  .company__list::-webkit-scrollbar { 
    width: 0px; 
    height: 0px;
  }
  .company__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    padding: 15px;
  }
  .company__img {
    width: 100%;
  }
  .sketchbook__content {
    margin-top: 0px;
  }
  .sketchbook__subtitle {
    margin-top: 20px;
  }
  .sketchbook__img-mobile {
    order: 1;
  }
  .footer_inner {
    display: block;
    padding: 20px 0;
  }
  .footer__logo {
    padding-bottom: 20px;
    justify-content: center;
  }
  .social__list {
    justify-content: center;
    padding-top: 20px;
    border-top: 1px solid #DDDDDD;
  }
}